APP_ORIGIN=https://SEU-SUBDOMINIO-DO-PLAYBOOK
PORT=3000
PGHOST=ENDERECO-DO-POSTGRES-ACESSIVEL-PELO-CONTAINER
PGPORT=5432
PGDATABASE=yuriconsorcio
PGUSER=yuriconsorcio
PGPASSWORD=PREENCHA-NO-EASYPANEL
SESSION_SECRET=GERE-UM-SEGREDO-ALEATORIO-DE-64-CARACTERES
